<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewData["Title"] - SafeTrade</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="HandheldFriendly" content="true" />
    <link rel="stylesheet" href="~/website/css/master.css" />
    <!-- SWITCHER-->
    <link href="~/website/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" media=" all" />
    <link href="~/website/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1" media="all" />
    <link href="~/website/plugins/switcher/css/color2.css" rel="alternate stylesheet" title="color2" media="all" />
    <link href="~/website/plugins/switcher/css/color3.css" rel="alternate stylesheet" title="color3" media="all" />
    <link href="~/website/plugins/switcher/css/color4.css" rel="alternate  stylesheet" title="color4" media="all" />
    <link href="~/website/css/customstyle.css" rel="stylesheet" />
    <link href="~/panel/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/website/favicon.ico" />
</head>
<body>
    <!-- Loader-->
    <div id="page-preloader"><span class="spinner"></span></div>
    <!-- Loader end-->

    <div data-header="sticky" data-header-top="200" class="l-theme animated-css">
        <header class="header">
            <!--header_mod-a-->
            <div class="header-top clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- end social-list-->
                            <div class="header-contact">
                                <div class="header-contact__item">Telefon  :<a href="tel:017682191530" class="header-contact__info"> +49 176 821 91 530</a></div>
                                <div class="header-contact__item">E-Mail  :<a href="mailto:info@wesecure.berlin" class="header-contact__info"> info@wesecure.berlin</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="/index" class="logo"><img src="~/website/media/general/wesecure.png" alt="name" class="logo__img img-responsive" style="height:100px; width:75px"></a>
                                </div>
                                <div class="col-sm-8">
                                    <div class="header-nav">
                                        <div class="navbar-trigger visible-xs">
                                            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                        </div><a href="contact" class="btn-second header-main__btn btn btn-sm btn-effect">FRAGEN</a>
                                        <nav class="navbar yamm">
                                            <div id="navbar-collapse-1" class="navbar-collapse collapse">
                                                <ul class="nav navbar-nav">
                                                    <li><a href="index">STARTSEITE</a></li>
                                                    <li><a href="our-services">DIENSTLEISTUNGEN</a></li>
                                                    <li><a href="about-us">ÜBER UNS</a></li>
                                                    <li><a href="contact">KONTAKT</a></li>
                                                </ul>
                                            </div>
                                        </nav>
                                        <!-- end nav-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()



        <footer class="footer">
            <div class="footer__main footer__main_mod-a parallax-bg parallax-dark">
                <video autoplay muted loop class="w-100" style="top:0;position:absolute;">
                    <source src="~/website/media/content/video/HomeGif.mp4" type="video/mp4">
                </video>
                <ul class="bg-slideshow">
                    <li>
                        <div style="background-image:url(~/website/media/general/wesecure.png)" class="bg-slide"></div>
                    </li>
                </ul>
                <div class="parallax__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12"><a href="index" class="footer__logo"><img style="width:300px;" src="~/website/media/general/wesecure.png" alt="Name" class="img-responsive center-block" /></a></div>
                        </div>
                        <div class="row" style="display:flex; justify-content:space-around;">
                            <div class="col-sm-4">
                                <section class="footer-section">
                                    <h3 class="footer-section__title">UNSERE DIENSTLEISTUNGEN</h3>
                                    <ul class="footer-section__list list">
                                        <li><a href="/our-services">REVIERFAHRTEN </a></li><br />
                                        <li><a href="/our-services">ABSICHERUNG VON</a></li><br />
                                        <li><a href="/our-services">EVENTS </a></li><br />
                                        <li><a href="/our-services">BAUSTELLENBEWACHUNG </a></li><br />
                                        <li><a href="/our-services">OBJEKTSCHUTZ </a></li><br />
                                        <li><a href="/our-services">EINLASSKONTROLLEN </a></li><br />
                                        <li><a href="/our-services">SCHLIESSDIENST</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div style="text-align:center" class="footer-main-section center-block">
                                            <div><a href="tel:017682191530" class="footer__contact footer__contact_lg">TELEFON :  +49 176 821 91 530</a></div>
                                            <div><a href="mailto:info@wesecure.berlin" class="footer__contact  footer__contact_lg">E-Mail: info@wesecure.berlin</a></div>
                                            <div class="footer__contact  footer__contact_lg">HAUPTSITZ:<br />Ziegrastraße 11<br /> 12057 Berlin,<br /> Deutschland</div>
                                            <div style="color:#fff">© 2023 WeSecure Sicherheitsdienste UG</div>
                                            <div style="color:#fff"><a href="/our-services" style="color:#fff">Datenschutz</a> | <a href="/our-services" style="color:#fff">Impressun</a></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <ul class="social-net list-inline list">
                                            <li class="social-net__item"><a href="#Whatsapp" class="social-net__link"><i class="icon fa fa-whatsapp"></i></a></li>
                                            <li class="social-net__item"><a href="#plus.google.com" class="social-net__link"><i class="icon fa fa-google-plus"></i></a></li>
                                        </ul>
                                        <!-- end social-list-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="container">
                    <div class="row justify-content-center">
                    </div>
                    </div>*@
                </div>
            </div>
            <div class="copyright  parallax-bg parallax-dark">
                <div class="parallax__inner">
                    <div class="container">
                        <div class="row">
                            <p style="color:#9e9e9e;">Alle Rechte vorbehalten © 2023 Diese Seite verwendet Cookies. Website-Design und Software von &emsp;<a class="hover-zoom" style="color:#9e9e9e;" href="https://cbcsoft.com.tr" target="_blank"><img src="~/website/media/general/CBCWhiteLogo.png" width="65" /></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/website/js/jquery.js"></script>
    <script src="~/website/js/custom.js"></script>
    <script src="~/website/js/bootstrap.min.js"></script>

    <script src="~/website/plugins/slider-pro/jquery.sliderPro.min.js"></script>
    <script src="~/website/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/website/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/website/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/website/plugins/doubletaptogo.js"></script>
    <script src="~/website/plugins/waypoints.min.js"></script>
    <script src="~/website/plugins/flowplayer/flowplayer.min.js"></script>
    <script src="~/website/plugins/classie.js"></script>
    <script src="~/website/plugins/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/website/plugins/switcher/js/dmss.js"></script>
    <script src="~/website/plugins/jarallax/jarallax.min.js"></script>
    <script src="~/website/plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/panel/js/global.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
