@{
    ViewData["Title"] = "WER SIND WIR";
}

<div class="section-title-page parallax-bg parallax-light">
    <ul class="bg-slideshow">
        <li>
            <div style="background-image:url(/website/media/content/title-page/1.jpg)" class="bg-slide"></div>
        </li>
    </ul>
    <div class="parallax__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="b-title-page">WER SIND WIR</h1>
                    <div class="b-title-page__info">Ein zugelassener Installateur von Sicherheitsdiensten, der vielen Organisationen und privaten Unternehmen hochwertige Sicherheitsdienste anbietet.</div>
                    <!-- end b-title-page-->
                </div>
                <div class="col-sm-5">
                    <ol class="breadcrumb">
                        <li><a href="index">STARTSEITE </a></li>
                        <li class="active"> WER SIND WIR</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-default section-default_top-padd">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="ui-title-block text-center">WESECURE</h2>
                <ul class="b-advantages-3 b-advantages-3_mod-a">
                    <li class="b-advantages-3__item">
                        <div class="b-advantages-3__subtitle">QUALITATIVE SERVICE</div>
                        <div class="b-advantages-3__title color-primary">WIR SIND EIN ERFAHRENES TEAM</div>
                    </li>
                    <li class="b-advantages-3__item">
                        <div class="b-advantages-3__subtitle">WIR BIETEN 24/7 SUPPORT</div>
                        <div class="b-advantages-3__title color-primary">WIR SIND EIN ZUGELASSENER AUFTRAGNEHMER</div>
                    </li>
                    <li class="b-advantages-3__item">
                        <div class="b-advantages-3__subtitle">WIR SCHÜTZEN SIE ÜBERALL</div>
                        <div class="b-advantages-3__title color-primary">WIR HABEN DIE FÄHIGKEIT ZU SICHERN</div>
                    </li>
                </ul>
                <!-- end b-advantages-3-->
            </div>
        </div>
    </div>
</section>

<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Wir sind ein erfahrenes, modernes und besonders kundenfreundliches Sicherheitsunternehmen mit Sitz in Berlin. Unsere wichtigsten Einsatzgebiete sind der Objektschutz, der Eventschutz und der Brandsicherheitsdienst. Darüber hinaus umfasst unser Leistungsangebot die Baustellenbewachung, den Empfangsdienst, den Doorman, den Kaufhausdetektiv, den Mall Guard sowie die Citystreife.
            </div>
            <div class="col-sm-6"><img src="~/website/media/content/555x300/1.jpg" alt="Foto" class="img-responsive"></div>
        </div>
    </div>
</section>

<div class="section-type-b section-bg section-bg_primary section-bg_light">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <section class="b-type-e">
                        <h2 class="b-type-e__title ui-title-inner-1">Wir bieten Sicherheitsdienste nach Ihren Bedürfnissen und Ihrem Budget an!</h2>
                        <div class="b-type-e__text">
                            <p>Es ist ein professionelles Unternehmen, das darauf spezialisiert ist, die physische Sicherheit der Kunden und den Schutz ihres Eigentums zu gewährleisten.</p>
                        </div>
                    </section>
                    <!-- end b-type-e-->
                </div>
                <div class="col-sm-5">
                    <div class="b-contact-banner b-contact-banner_mod-a">
                        <div class="b-contact-banner__border"></div>
                        <div class="b-contact-banner__inner">
                            <h3 class="b-contact-banner__title">KONTAKTIEREN SIE UNS FÜR EINEN WETTBEWERBSFÄHIGEN PREIS</h3>
                            <div class="b-contact-banner__decor ui-decor-type-3 center-block"></div>
                            <div class="b-contact-banner__info b-contact-banner__info_lg"><a class="text-white" href="tel:02125465454">+49 176 821 91 530</a></div>
                            <div class="b-contact-banner__info"><a class="text-white" href="mailto:ridvanakyil16@gmail.com">info@wesecure.berlin</a></div>
                        </div>
                    </div>
                    <!-- end b-contact-banner-->
                </div>
            </div>
        </div>
    </div>
</div>

<section style="background-image: url(/website/media/components/b-type-c/bg-1.jpg)" data-jarallax="{&quot;type&quot;: &quot;scroll-opacity&quot;}" class="b-type-c section-default section-bg section-bg_grey-3 jarallax">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="b-type-c__title">Suchen Sie nach intelligenter und exekutiver Sicherheit?</h2>
                    <div class="b-type-c__subtitle">KEINE SORGEN MEHR - WIR SCHÜTZEN DIE SICHERHEITSDIENSTE HIER</div>
                    <div class="b-type-c__text">
                        <p>Es ist erschwinglich mit Hilfe unserer gut ausgebildeten Fachkräfte. Wir glauben daran, Ihnen intelligente und exekutiv-klasse Sicherheit zu bieten.</p>
                        <p>Wir arbeiten rund um die Uhr, um unseren Kunden ein ruhiges Gefühl zu geben. Rufen Sie uns an: <a class="text-white" href="tel:+4917682191530">+49 176 821 91 530</a></p>
                    </div><a href="/contact" class="b-type-c__btn btn btn-default btn-sm btn-effect">jetzt Kontakt aufnehmen</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end b-type-c-->
<!-- Skills -->
<section class="section-default wow">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="ui-title-inner-1">Unsere Kompetenzen</h2>
                    <p>Zuverlässigkeit: Eine Sicherheitsfirma sollte zuverlässige und qualitativ hochwertige Dienstleistungen anbieten, um die Sicherheit ihrer Kunden zu gewährleisten und maßgeschneiderte Lösungen anzubieten, die den Bedürfnissen ihrer Kunden entsprechen.</p>
                    <p>Expertise: Eine Sicherheitsfirma sollte aus erfahrenen und geschulten Mitarbeitern im Sicherheitssektor bestehen. Darüber hinaus sollte sie die neuesten technologischen Lösungen verfolgen und ihren Kunden mit den besten Sicherheitsausrüstungen Dienstleistungen anbieten.</p>
                    <p>Kundenorientierung: Eine Sicherheitsfirma sollte die Bedürfnisse ihrer Kunden verstehen und maßgeschneiderte Dienstleistungen zur Kundenzufriedenheit anbieten. Außerdem sollte sie Kundenfeedbacks hören und kontinuierlich daran arbeiten, ihre Dienstleistungen zu verbessern.</p>
                </div>
                <div class="col-sm-6">
                    <div class="progress-block-group">
                        <div class="progress-block">
                            <div class="progress__title">Zuverlässigkeit</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">Expertise</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">Kundenorientierung</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>