@{
    ViewData["Title"] = "KONTAKTIEREN SIE UNS";
}

<div class="section-title-page parallax-bg parallax-light">
    <ul class="bg-slideshow">
        <li>
            <div style="background-image:url(/website/media/content/title-page/1.jpg)" class="bg-slide"></div>
        </li>
    </ul>
    <div class="parallax__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="b-title-page">KONTAKTIEREN SIE UNS</h1>
                    <div class="b-title-page__info">Private Unternehmen, die vielen Organisationen hochwertige Sicherheitsdienste anbieten, zertifizierte Auftragnehmer von Sicherheitsdiensten</div>
                    <!-- end b-title-page-->
                </div>
                <div class="col-sm-5">
                    <ol class="breadcrumb">
                        <li><a href="index">STARTSEITE </a></li>
                        <li class="active"> KONTAKTIEREN SIE UNS</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-contacts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="ui-title-block ui-title-block_mod-a">Egal, was Ihre Sicherheitsbedürfnisse sind, <br>- Gewerbe oder Wohnen - Groß oder klein - <br>Kontaktieren Sie uns und wir entwickeln eine Lösung für Sie!</h2>
                    <div class="ui-decor-type-1 center-block"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="b-contacts">
                    <i class="b-contacts__icon pe-7s-flag"></i>
                    <div class="b-contacts__name color-primary">Lage</div>
                    <a class="b-contacts__contacts">Ziegrastraße 11 12057 Berlin, Deutschland</a>
                </div>
                <!-- end b-contacts-->
            </div>
            <div class="col-sm-3">
                <div class="b-contacts">
                    <i class="b-contacts__icon pe-7s-call"></i>
                    <div class="b-contacts__name color-primary">Telefon</div>
                    <a href="tel:+4917682191530" class="b-contacts__contacts">+4917682191530</a>
                </div>
                <!-- end b-contacts-->
            </div>
            <div class="col-sm-3">
                <div class="b-contacts">
                    <i class="b-contacts__icon pe-7s-mail-open"></i>
                    <div class="b-contacts__name color-primary">Email</div>
                    <a href="mailTo:info@wesecure.berlin" class="b-contacts__contacts">info@wesecure.berlin</a>
                </div>
                <!-- end b-contacts-->
            </div>
            <div class="col-sm-3">
                <div class="b-contacts">
                    <i class="b-contacts__icon pe-7s-headphones"></i>
                    <div class="b-contacts__name color-primary">Whatsapp</div>
                    <a href="https://wa.me/+4917682191530" class="b-contacts__contacts">4917682191530</a>
                </div>
                <!-- end b-contacts-->
            </div>
        </div>
    </div>
</div>

<div id="map" class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2430.1380854893396!2d13.457046015805803!3d52.476635479806035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84f0de6d48c1f%3A0x36867861319a9c4f!2sZiegrastra%C3%9Fe%2011%2C%2012057%20Berlin%2C%20Almanya!5e0!3m2!1str!2str!4v1687009341285!5m2!1str!2str" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="Name" placeholder="Name" class="form-control">
                                <input type="email" name="Email" placeholder="Email" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="Surname" placeholder="Familienname" class="form-control">
                                <input type="text" name="Title" placeholder="Inhalt" class="form-control">
                            </div>
                        </div>
                        <button onclick="addContact()" class="ui-form__btn btn btn-primary btn-sm btn-effect btn-block">Senden Sie die Nachricht</button>
                    </div>
                    <div class="col-md-6">
                        <textarea rows="7" name="Context" placeholder="Beschreibung" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
