@{
    ViewData["Title"] = "Home Page";
}

<div id="main-slider" data-slider-width="100%" data-slider-height="800px" data-slider-arrows="true" data-slider-buttons="false" class="main-slider slider-pro">
    <div class="sp-slides">
            <!-- Slide -->
            <div class="sp-slide">
                <div class="sp-image-container w-100 color-blur">
                    <video autoplay muted loop id="logo-bg" class="w-100">
                        <source src="~/website/media/content/video/HomeGif.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-10 col-sm-offset-1">
                            <h2 data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400" class="main-slider__title sp-layer">WeSecure wir sichem Berlin</h2>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
<!-- end main-slider-->
<!-- Questions -->
<div class="section-default section-default_top-padd wow">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block">Ihre Fragen werden beantwortet</h2>
                        <div class="ui-decor-type-1 ui-decor-type-1_marg-bott_a center-block"></div>
                        <div class="ui-subtitle-block">Es ist ein professionelles Unternehmen, das sich auf die Gewährleistung der physischen Sicherheit der Kunden und den Schutz ihres Eigentums spezialisiert hat.</div>
                    </div>
                </div>
                <div class="col-sm-6"><img src="~/website/media/general/wesecure.png" alt="Logo" class="img-responsive w-75"></div>
                <div class="col-sm-6">
                    <div id="accordion-1" class="panel-group accordion accordion_marg-top_a">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1" class="btn-collapse"><i class="icon"></i></a>
                                <h3 class="panel-title">Was ist ein Sicherheitsunternehmen?</h3>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Sicherheitsunternehmen sind Unternehmen, die professionelle Dienstleistungen anbieten, um das Eigentum und die Sicherheit ihrer Kunden zu schützen.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2" class="btn-collapse collapsed"><i class="icon"></i></a>
                                <h3 class="panel-title">In welchen Bereichen bieten sie ihre Dienstleistungen an?</h3>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sicherheitsunternehmen bieten ihre Dienstleistungen in Wohnhäusern, Büros, Ferienanlagen, privaten Veranstaltungen und vielen anderen Bereichen an.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3" class="btn-collapse collapsed"><i class="icon"></i></a>
                                <h3 class="panel-title">Warum braucht man ein Sicherheitsunternehmen?</h3>
                            </div>
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Man braucht ein Sicherheitsunternehmen, weil diese Unternehmen einen professionellen Ansatz bieten, um das Eigentum und die Sicherheit der Kunden zu schützen.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-4" class="btn-collapse collapsed"><i class="icon"></i></a>
                                <h3 class="panel-title">Worauf sollte man bei der Auswahl eines Sicherheitsunternehmens achten?</h3>
                            </div>
                            <div id="collapse-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Bei der Auswahl eines Sicherheitsunternehmens sollte man auf Faktoren wie die Lizenzierung und Erfahrung des Unternehmens, Referenzen, hohe Kundenzufriedenheitsraten und die Eignung der Dienstleistungen für die Bedürfnisse des Kunden achten.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end panel-->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Choose Us -->
<section class="b-advantages-1 section-default section-bg section-bg_primary jarallax">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="b-advantages-1__title ui-title-block">Warum uns wählen</h2>
                    <div class="b-advantages-1__subtitle ui-subtitle-block">Es ist ein professionelles Unternehmen, das sich auf die Gewährleistung der physischen Sicherheit der Kunden und den Schutz ihres Eigentums spezialisiert hat.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <section class="b-advantages-1-item">
                        <span class="b-advantages-1-item__decor"></span><i class="b-advantages-1-item__icon pe-7s-pin"></i>
                        <h3 class="b-advantages-1-item__title">Technologische Lösungen</h3>
                        <div class="b-advantages-1-item__text">
                            <p>Die Sicherheit unserer Kunden ist unsere Priorität und wir streben danach, ihnen die besten Sicherheitsdienstleistungen unter Verwendung neuester technologischer Lösungen anzubieten.</p>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="b-advantages-1-item">
                        <span class="b-advantages-1-item__decor"></span><i class="b-advantages-1-item__icon pe-7s-airplay"></i>
                        <h3 class="b-advantages-1-item__title">Unsere Mitarbeiter</h3>
                        <div class="b-advantages-1-item__text">
                            <p>Unsere Mitarbeiter sind gut ausgebildet, erfahren und halten sich an ethische Standards und hohe Geschäftspraktiken, was das Vertrauen unserer Kunden in uns stärkt und unser Geschäft erfolgreich macht.</p>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="b-advantages-1-item">
                        <i class="b-advantages-1-item__icon pe-7s-diamond"></i>
                        <h3 class="b-advantages-1-item__title">Kundenzufriedenheit</h3>
                        <div class="b-advantages-1-item__text">
                            <p>Unsere Unternehmenswerte beinhalten Kundenzufriedenheit, Transparenz und Zusammenarbeit. Indem wir diese Werte übernehmen, arbeiten wir eng mit unseren Kunden zusammen, um kontinuierlich weiterentwickelte und maßgeschneiderte Sicherheitslösungen für ihre Sicherheit zu bieten.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end b-advantages-1-->
<!-- Service -->
<div class="section-default section_border-bottom wow">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block">Service</h2>
                        <div class="ui-subtitle-block">Es ist ein professionelles Unternehmen, das sich auf die Gewährleistung der physischen Sicherheit der Kunden und den Schutz ihres Eigentums spezialisiert hat.</div>
                        <div class="ui-decor-type-1 center-block"></div>
                    </div>
                    <ul class="b-advantages-2">
                        <li class="b-advantages-2__item">
                            <div class="b-advantages-2__inner">
                                <div class="b-advantages-2__name">Title</div>
                                <div class="b-advantages-2__text">ShortText</div><a href="/our-services" class="b-advantages-2__link btn-link">read details</a>
                            </div>
                        </li>
                        <li class="b-advantages-2__item">
                            <div class="b-advantages-2__inner">
                                <div class="b-advantages-2__name">Title</div>
                                <div class="b-advantages-2__text">ShortText</div><a href="/our-services" class="b-advantages-2__link btn-link">read details</a>
                            </div>
                        </li>
                        <li class="b-advantages-2__item">
                            <div class="b-advantages-2__inner">
                                <div class="b-advantages-2__name">Title</div>
                                <div class="b-advantages-2__text">ShortText</div><a href="/our-services" class="b-advantages-2__link btn-link">read details</a>
                            </div>
                        </li>
                    </ul>
                    <!-- end b-advantages-2-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Work -->
<section class="b-type-c section-default section-bg section-bg_primary jarallax">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="b-type-c__title">Suchen Sie nach intelligenter und exekutiver Sicherheit?</h2>
                    <div class="b-type-c__subtitle">KEINE SORGEN MEHR - WIR SCHÜTZEN DIE SICHERHEITSDIENSTE HIER</div>
                    <div class="b-type-c__text">
                        <p>Es ist erschwinglich mit Hilfe unserer gut ausgebildeten Fachkräfte. Wir glauben daran, Ihnen intelligente und exekutiv-klasse Sicherheit zu bieten.</p>
                        <p>Wir arbeiten rund um die Uhr, um unseren Kunden ein ruhiges Gefühl zu geben. Rufen Sie uns an: <a class="text-white" href="tel:02125465454">02125465454</a></p>
                    </div><a href="/contact" class="b-type-c__btn btn btn-default btn-sm btn-effect">jetzt Kontakt aufnehmen</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end b-type-c-->
<!-- Skills -->
<section class="section-default wow">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="ui-title-inner-1">Unsere Kompetenzen</h2>
                    <p>Zuverlässigkeit: Eine Sicherheitsfirma sollte zuverlässige und qualitativ hochwertige Dienstleistungen anbieten, um die Sicherheit ihrer Kunden zu gewährleisten und maßgeschneiderte Lösungen anzubieten, die den Bedürfnissen ihrer Kunden entsprechen.</p>
                    <p>Expertise: Eine Sicherheitsfirma sollte aus erfahrenen und geschulten Mitarbeitern im Sicherheitssektor bestehen. Darüber hinaus sollte sie die neuesten technologischen Lösungen verfolgen und ihren Kunden mit den besten Sicherheitsausrüstungen Dienstleistungen anbieten.</p>
                    <p>Kundenorientierung: Eine Sicherheitsfirma sollte die Bedürfnisse ihrer Kunden verstehen und maßgeschneiderte Dienstleistungen zur Kundenzufriedenheit anbieten. Außerdem sollte sie Kundenfeedbacks hören und kontinuierlich daran arbeiten, ihre Dienstleistungen zu verbessern.</p>
                </div>
                <div class="col-sm-6">
                    <div class="progress-block-group">
                        <div class="progress-block">
                            <div class="progress__title">Zuverlässigkeit</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">Expertise</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">Kundenorientierung</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Customers -->
<div style="background-image: url(~/website/media/content/bg/3.jpg)" class="section-default section-bg section-bg_grey jarallax">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block">Kunde</h2>
                        <div class="ui-decor-type-1 ui-decor-type-1_grey-dark ui-decor-type-1_marg-bott_b center-block"></div>
                    </div>
                    <div data-min480="1" data-min768="2" data-min992="2" data-min1200="3" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true" class="owl-carousel owl-theme enable-owl-carousel">
                        <article class="b-reviews-1 b-reviews-1_mod-a">
                            <h3 class="b-reviews-1__title">PROFESSIONELLES PERSONAL</h3>
                            <blockquote class="blockquote blockquote-2">
                                <p>Ich war sehr zufrieden mit der Zusammenarbeit mit der Sicherheitsfirma. Ihre Mitarbeiter waren äußerst professionell und respektvoll. Ihr Service war unterbrechungsfrei und zuverlässig</p>
                                <footer class="blockquote__footer">
                                    <cite title="Blockquote Title"><span class="blockquote__footer-inner"><span class="blockquote__author">Adam Mills</span><span class="blockquote__category">Kunde</span></span><span class="blockquote__img"><img src="~/website/media/content/reviews/60x60/1.jpg" alt="foto" class="img-responsive" /></span></cite>
                                </footer>
                            </blockquote>
                        </article>
                        <!-- end b-reviews-->

                        <article class="b-reviews-1 b-reviews-1_mod-a">
                            <h3 class="b-reviews-1__title">100% ZUVERLÄSSIGKEIT!</h3>
                            <blockquote class="blockquote blockquote-2">
                                <p>Die Sicherheitsfirma hat uns geholfen, unsere Sicherheit durch maßgeschneiderte Lösungen zu gewährleisten. Sie nehmen ihre Arbeit sehr ernst und legen großen Wert auf Kundenzufriedenheit.</p>
                                <footer class="blockquote__footer">
                                    <cite title="Blockquote Title"><span class="blockquote__footer-inner"><span class="blockquote__author">Sarina Hales</span><span class="blockquote__category">Kunde</span></span><span class="blockquote__img"><img src="~/website/media/content/reviews/60x60/2.jpg" alt="foto" class="img-responsive" /></span></cite>
                                </footer>
                            </blockquote>
                        </article>
                        <!-- end b-reviews-->

                        <article class="b-reviews-1 b-reviews-1_mod-a">
                            <h3 class="b-reviews-1__title">KREATIVE LÖSUNGEN!</h3>
                            <blockquote class="blockquote blockquote-2">
                                <p>Die Sicherheitsfirma hebt sich immer durch die Qualität ihrer Dienstleistungen und die Professionalität ihrer Mitarbeiter hervor. Sie unterstützen uns vollständig in Sicherheitsfragen, indem sie kreative Lösungen für unsere Bedürfnisse anbieten. Ich empfehle sie auf jeden Fall weiter.</p>
                                <footer class="blockquote__footer">
                                    <cite title="Blockquote Title"><span class="blockquote__footer-inner"><span class="blockquote__author">James Den</span><span class="blockquote__category">Kunde</span></span><span class="blockquote__img"><img src="~/website/media/content/reviews/60x60/3.jpg" alt="foto" class="img-responsive" /></span></cite>
                                </footer>
                            </blockquote>
                        </article>
                        <!-- end b-reviews-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- References -->
<div class="section-default wow">
    <div data-min480="1" data-min768="3" data-min992="5" data-min1200="5" data-pagination="false" data-navigation="false" data-auto-play="4000" data-stop-on-hover="true" class="b-brands owl-carousel owl-theme enable-owl-carousel">

        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>

    </div>
    <!-- end b-brands-->
</div>

<!-- Contact -->
<div class="section-area section-table clearfix">
    <section class="b-form-request section-table__inner">
        <div class="b-form-request__parallax section-bg section-bg_primary jarallax"></div>
        <div class="section__inner">
            <div class="b-form-request__inner">
                <h2 class="b-form-request__title">Angebot anfordern<span class="b-form-request__title-emphasis"> - Sicherheitsagentur Sicherheitsdienste</span></h2>
                <div class="b-form-request__text">
                    <p>Wenn Sie ein Preisangebot für Sicherheitsdienstleistungen erhalten möchten, füllen Sie bitte das untenstehende Formular aus.</p>
                    <p>Wir antworten innerhalb von 2 Stunden oder rufen Sie uns an unter <strong> <a class="text-white" href="tel:02125465454"> 02125465454</a></strong></p>
                </div>
            </div>
            <div class="b-form-request__form p-105-60">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" id="name" placeholder="Name" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="surname" placeholder="Familienname" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="email" id="email" placeholder="Email" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" id="title" placeholder="Inhalt" class="form-control" />
                        <textarea rows="4" id="context" placeholder="Beschreibung" class="form-control"></textarea>
                        <button onclick="addContact()" class="btn btn-default btn-sm btn-effect">Abgeben</button>
                    </div>
                </div><i class="b-form-request__icon pe-7s-note2"></i>
            </div>
        </div>
    </section>
    <!-- end b-form-request-->
    <section class="b-type-d section-bg jarallax section-table__inner">
        <div class="section__inner">
            <img src="~/website/media/general/wesecure.png" alt="Name" class="img-responsive w-25" />
            <h2 class="b-type-d__title ui-title-inner-1">Wenn Sie mehr Informationen über unser Unternehmen oder unsere Dienstleistungen erhalten möchten, kontaktieren Sie uns bitte!</h2>
            <dl class="b-type-d__list-desription list-desription">
                <dt><i class="icon pe-7s-helm"></i>Lizenzen und Genehmigungen</dt>
                <dd>Sicherheitsunternehmen müssen gesetzlich lizenziert und reguliert sein, um ihre Dienste anbieten zu können.</dd>
                <dt><i class="icon pe-7s-diamond"></i>Versicherung</dt>
                <dd>Das Sicherheitsunternehmen muss für die Sicherheit seiner Kunden und Mitarbeiter versichert sein.</dd>
                <dt><i class="icon pe-7s-share"></i>Legal Compliance</dt>
                <dd>Sicherheitsunternehmen müssen sich an das Gesetz halten und bei der Erbringung ihrer Dienstleistungen im Einklang mit relevanten Gesetzen handeln.</dd>
            </dl>
        </div>
    </section>
</div>
