@{
    ViewData["Title"] = "STARTSEITE";
}

<section class="mask-video">
    <div>
        <div class="w-100">
            <video autoplay muted loop id="logo-bg">
                <source src="~/website/media/content/video/HomeGif.mp4" type="video/mp4">
            </video>
        </div>
        <div class="row m-video-text" style="display:flex; justify-content:space-between;">
            <div class="col-md-4 col-sm-4">
                <h4 data-width="100%" data-show-duration="800" data-show-delay="400" data-hide-delay="400" class="main-slider__title pl text-left sp-layer">WE.</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4 data-width="100%" data-show-duration="800" data-show-delay="400" data-hide-delay="400" class="main-slider__title text-center sp-layer">SECURE.</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4 data-width="100%" data-show-duration="800" data-show-delay="400" data-hide-delay="400" class="main-slider__title pr text-right sp-layer"> BERLIN.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12" style="display:flex; justify-content:center; align-items:center;">
                <div data-width="100%" class="main-slider__title text-center sp-layer"><img src="~/website/media/general/wesecure.png" style="height:20vh; " /></div>
            </div>
        </div>
    </div>
</section>
<!-- end main-slider-->
<!-- Questions -->
<div class="section-default section-default_top-padd wow">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block">Ihre Fragen beantworten wir gerne</h2>
                        <div class="ui-decor-type-1 ui-decor-type-1_marg-bott_a center-block"></div>
                        <div class="ui-subtitle-block">Wir sind ein professionelles Unternehmen, das sich auf die Gewährleistung der physischen Sicherheit der Kunden und den Schutz ihres Eigentums spezialisiert hat.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <center>
                        <img src="~/website/media/general/wesecure.png" alt="Logo" class="img-responsive w-50">
                    </center>
                    <center><h4 style="color:#cda663 !important;margin:10px 0;">WeSecure Sicherheitsdienste</h4></center>
                </div>
                <div class="col-sm-6">
                    <div id="accordion-1" class="panel-group accordion accordion_marg-top_a">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1" class="btn-collapse"><i class="icon"></i></a>
                                <h3 class="panel-title">Was ist ein Sicherheitsunternehmen?</h3>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Sicherheitsunternehmen sind Unternehmen, die professionelle Dienstleistungen anbieten, um das Eigentum und die Sicherheit ihrer Kunden zu schützen.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2" class="btn-collapse collapsed"><i class="icon"></i></a>
                                <h3 class="panel-title">In welchen Bereichen bieten sie ihre Dienstleistungen an?</h3>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sicherheitsunternehmen bieten ihre Dienstleistungen in Wohnhäusern, Büros, Ferienanlagen, privaten Veranstaltungen und vielen anderen Bereichen an.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3" class="btn-collapse collapsed"><i class="icon"></i></a>
                                <h3 class="panel-title">Warum braucht man ein Sicherheitsunternehmen?</h3>
                            </div>
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Man braucht ein Sicherheitsunternehmen, weil diese Unternehmen einen professionellen Ansatz bieten, um das Eigentum und die Sicherheit der Kunden zu schützen.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-4" class="btn-collapse collapsed"><i class="icon"></i></a>
                                <h3 class="panel-title">Worauf sollte man bei der Auswahl eines Sicherheitsunternehmens achten?</h3>
                            </div>
                            <div id="collapse-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Bei der Auswahl eines Sicherheitsunternehmens sollte man auf Faktoren wie die Lizenzierung und Erfahrung des Unternehmens, Referenzen, hohe Kundenzufriedenheitsraten und die Eignung der Dienstleistungen für die Bedürfnisse des Kunden achten.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end panel-->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Choose Us -->
<section class="b-advantages-1 section-default section-bg section-bg_primary jarallax">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="b-advantages-1__title ui-title-block">Warum uns wählen</h2>
                    @*<div class="b-advantages-1__subtitle ui-subtitle-block">Es ist ein professionelles Unternehmen, das sich auf die Gewährleistung der physischen Sicherheit der Kunden und den Schutz ihres Eigentums spezialisiert hat.</div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <section class="b-advantages-1-item">
                        <span class="b-advantages-1-item__decor"></span><i class="b-advantages-1-item__icon pe-7s-pin"></i>
                        <h3 class="b-advantages-1-item__title">Technologische Lösungen</h3>
                        <div class="b-advantages-1-item__text">
                            <p>Die Sicherheit unserer Kunden ist unsere Priorität und wir streben danach, ihnen die besten Sicherheitsdienstleistungen unter Verwendung neuester technologischer Lösungen anzubieten.</p>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="b-advantages-1-item">
                        <span class="b-advantages-1-item__decor"></span><i class="b-advantages-1-item__icon pe-7s-airplay"></i>
                        <h3 class="b-advantages-1-item__title">Unsere Mitarbeiter</h3>
                        <div class="b-advantages-1-item__text">
                            <p>Unsere Mitarbeiter sind gut ausgebildet, erfahren und halten sich an ethische Standards und hohe Geschäftspraktiken, was das Vertrauen unserer Kunden in uns stärkt und unser Geschäft erfolgreich macht.</p>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="b-advantages-1-item">
                        <i class="b-advantages-1-item__icon pe-7s-diamond"></i>
                        <h3 class="b-advantages-1-item__title">Kundenzufriedenheit</h3>
                        <div class="b-advantages-1-item__text">
                            <p>Unsere Unternehmenswerte beinhalten Kundenzufriedenheit, Transparenz und Zusammenarbeit. Indem wir diese Werte übernehmen, arbeiten wir eng mit unseren Kunden zusammen, um kontinuierlich weiterentwickelte und maßgeschneiderte Sicherheitslösungen für ihre Sicherheit zu bieten.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end b-advantages-1-->
<!-- Service -->
<div class="section-default section_border-bottom wow">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class=" row">
                        <div class=" col-xs-12 col-sm-4 pb">
                            <img style="width:100px;" src="~/website/media/content/services-icon/key.png" />
                            <h5>SCHLIESSDIENST</h5>
                            <p>
                                Bürogebäude, Einkaufszentren
                                und Lagerhallen haben viele
                                Türen. Jedem
                                Zutrittsberechtigten einen
                                Schlüssel zu geben, birgt auf
                                Grund der hohen Anzahl an
                                Schlüsseln eine erhöhte
                                Verlustgefahr.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 pb">

                            <img style="width:100px;" src="~/website/media/content/services-icon/phone-book.png" />
                            <h5>EINLASSKONTROLLEN</h5>
                            <p>
                                Eine Gastronomie-, und
                                Diskotheken Absicherung ist Ihr
                                Aushängeschild. Weil der erste
                                Eindruck zählt! Wir führen u.a.
                                Einlasskontrollen für Sie durch.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 pb">

                            <img style="width:100px;" src="~/website/media/content/services-icon/apartment.png" />
                            <h5>OBJEKTSCHUTZ</h5>
                            <p>
                                Für die Sicherheit Ihrer Obiekte
                                entwickeln wir von Gabel
                                Security ein individuelles
                                Sicherheitskonzept ganz nach
                                Ihren Vorstellungen.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 pb">

                        <img style="width:100px;" src="~/website/media/content/services-icon/cone.png" />
                        <h5>
                            BAUSTELLEN-BEWACHUNG
                        </h5>
                        <p>
                            Auf eine Baustellenbewachung
                            wird grundsätzlich nicht
                            verzichtet. Schäden durch
                            Vandalismus und Diebstahl sind
                            gute Gründe für eine
                            Baustellenbewachung.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 pb">
                        <img style="width:100px;" src="~/website/media/content/services-icon/multiple-users.png" />
                        <h5>
                            ABSICHERUNG VON EVENTS
                        </h5>
                        <p>
                            In der Eventabsicherung
                            unterstützen wir Sie
                            professionell in allen Phasen der
                            Veranstaltung. Vom Anfang bis
                            zum Ende sind wir dabei.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 pb">

                        <img style="width:100px;" src="~/website/media/content/services-icon/bullseye.png" />
                        <h5>REVIERFAHRTEN</h5>
                        <p>
                            Gegen Vandalismus und
                            Einbruch auf Ihrem Grundstück
                            helfen unsere Fachkräfte aus
                            Schutz und Sicherheit, die sich
                            auf Revierdienste spezialisiert
                            haben.
                        </p>
                    </div>
                </div>
                <!-- end b-advantages-3-->

            </div>
        </div>
    </div>
</div>


<!-- Skills -->
<section class="section-default wow">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="ui-title-inner-1">Unsere Kompetenzen</h2>
                    <p>Zuverlässigkeit: Eine Sicherheitsfirma sollte zuverlässige und qualitativ hochwertige Dienstleistungen anbieten, um die Sicherheit ihrer Kunden zu gewährleisten und maßgeschneiderte Lösungen anzubieten, die den Bedürfnissen ihrer Kunden entsprechen.</p>
                    <p>Expertise: Eine Sicherheitsfirma sollte aus erfahrenen und geschulten Mitarbeitern im Sicherheitssektor bestehen. Darüber hinaus sollte sie die neuesten technologischen Lösungen verfolgen und ihren Kunden mit den besten Sicherheitsausrüstungen Dienstleistungen anbieten.</p>
                    <p>Kundenorientierung: Eine Sicherheitsfirma sollte die Bedürfnisse ihrer Kunden verstehen und maßgeschneiderte Dienstleistungen zur Kundenzufriedenheit anbieten. Außerdem sollte sie Kundenfeedbacks hören und kontinuierlich daran arbeiten, ihre Dienstleistungen zu verbessern.</p>
                </div>
                <div class="col-sm-6">
                    <div class="progress-block-group">
                        <div class="progress-block">
                            <div class="progress__title">Zuverlässigkeit</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">Expertise</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">Kundenorientierung</div>
                            <div class="progress progress-2">
                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0" arivaluemax="100" style="width: 100%" class="progress-bar bg-primary"><span class="progress-bar__number">100%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row row-no-mrg wow">
    <div class="col-xs-12 col-no-pdg">
        <div class="b-container-without-1 b-container-without-1_mod-a">
            <h1 class="b-container-without-1__title">JOBS</h1>
            <h2 class="b-container-without-1__title">Haben Sie Interesse an einer Zusammenarbeit mit uns!</h2>
            <div class="b-container-without-1__text">
                <p>Treten Sie unserem Team bei und beginnen Sie Ihre Karriere als Wachmann. Es ist unsere Mission, immer die besten Sicherheitspersonal für unser Team zu rekrutieren!</p>
            </div><a href="index" class="b-container-without-1__btn btn btn-primary btn-effect">Senden Sie uns Ihren Lebenslauf</a>
        </div>
        <!-- end b-container-without-1-->
    </div>
</div>
<!-- Customers -->
<div style="background-image: url(~/website/media/content/bg/3.jpg)" class="section-default section-bg section-bg_grey jarallax">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block">Rezension</h2>
                        <div class="ui-decor-type-1 ui-decor-type-1_grey-dark ui-decor-type-1_marg-bott_b center-block"></div>
                    </div>
                    <div data-min480="1" data-min768="2" data-min992="2" data-min1200="3" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true" class="owl-carousel owl-theme enable-owl-carousel">
                        <article class="b-reviews-1 b-reviews-1_mod-a">
                            <h3 class="b-reviews-1__title">PROFESSIONELLES PERSONAL</h3>
                            <blockquote class="blockquote blockquote-2">
                                <p>Ich war sehr zufrieden mit der Zusammenarbeit mit der Sicherheitsfirma. Ihre Mitarbeiter waren äußerst professionell und respektvoll. Ihr Service war unterbrechungsfrei und zuverlässig</p>
                                
                            </blockquote>
                        </article>
                        <!-- end b-reviews-->

                        <article class="b-reviews-1 b-reviews-1_mod-a">
                            <h3 class="b-reviews-1__title">100% ZUVERLÄSSIGKEIT!</h3>
                            <blockquote class="blockquote blockquote-2">
                                <p>Die Sicherheitsfirma hat uns geholfen, unsere Sicherheit durch maßgeschneiderte Lösungen zu gewährleisten. Sie nehmen ihre Arbeit sehr ernst und legen großen Wert auf Kundenzufriedenheit.</p>
                              
                            </blockquote>
                        </article>
                        <!-- end b-reviews-->

                        <article class="b-reviews-1 b-reviews-1_mod-a">
                            <h3 class="b-reviews-1__title">KREATIVE LÖSUNGEN!</h3>
                            <blockquote class="blockquote blockquote-2">
                                <p>Die Sicherheitsfirma hebt sich immer durch die Qualität ihrer Dienstleistungen und die Professionalität ihrer Mitarbeiter hervor. Sie unterstützen uns vollständig in Sicherheitsfragen, indem sie kreative Lösungen für unsere Bedürfnisse anbieten. Ich empfehle sie auf jeden Fall weiter.</p>
                                
                            </blockquote>
                        </article>
                        <!-- end b-reviews-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<!-- References -->
<div class="section-default wow">
    <div data-min480="1" data-min768="3" data-min992="5" data-min1200="5" data-pagination="false" data-navigation="false" data-auto-play="4000" data-stop-on-hover="true" class="b-brands owl-carousel owl-theme enable-owl-carousel">

        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>
        <div class="b-brands__item"><img src="~/website/media/general/logo_type-c.png" alt="Name" class="img-responsive center-block" /></div>

    </div>
    <!-- end b-brands-->
</div>*@

<!-- Contact -->
<div class="section-area section-table clearfix">
    <section class="b-form-request section-table__inner">
        <div class="b-form-request__parallax section-bg section-bg_primary jarallax"></div>
        <div class="section__inner">
            <div class="b-form-request__inner">
                <h2 class="b-form-request__title">Angebot anfordern<span class="b-form-request__title-emphasis"> - Sicherheitsagentur Sicherheitsdienste</span></h2>
                <div class="b-form-request__text">
                    <p>Wenn Sie ein Preisangebot für Sicherheitsdienstleistungen erhalten möchten, füllen Sie bitte das untenstehende Formular aus.</p>
                    <p>Wir antworten innerhalb von 24 Stunden oder rufen Sie uns an unter <strong> <a class="text-white" href="tel:+4917682191530"> +49 176 821 91 530</a></strong></p>
                </div>
            </div>
            <div class="b-form-request__form p-105-60">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" id="name" placeholder="Name" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="surname" placeholder="Familienname" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="email" id="email" placeholder="Email" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" id="title" placeholder="Inhalt" class="form-control" />
                        <textarea rows="4" id="context" placeholder="Beschreibung" class="form-control"></textarea>
                        <button onclick="addContact()" class="btn btn-default btn-sm btn-effect">Abgeben</button>
                    </div>
                </div><i class="b-form-request__icon pe-7s-note2"></i>
            </div>
        </div>
    </section>
    <!-- end b-form-request-->
    <section class="b-type-d section-bg jarallax section-table__inner">
        <div class="section__inner">
            <img src="~/website/media/general/wesecure.png" alt="Name" class="img-responsive w-25" />
            <h2 class="b-type-d__title ui-title-inner-1">Wenn Sie mehr Informationen über unser Unternehmen oder unsere Dienstleistungen erhalten möchten, kontaktieren Sie uns bitte!</h2>
            <dl class="b-type-d__list-desription list-desription">
                <dt><i class="icon pe-7s-helm"></i>Lizenzen und Genehmigungen</dt>
                <dd>Sicherheitsunternehmen müssen gesetzlich lizenziert und reguliert sein, um ihre Dienste anbieten zu können.</dd>
                <dt><i class="icon pe-7s-diamond"></i>Versicherung</dt>
                <dd>Das Sicherheitsunternehmen muss für die Sicherheit seiner Kunden und Mitarbeiter versichert sein.</dd>
                <dt><i class="icon pe-7s-share"></i>Legal Compliance</dt>
                <dd>Sicherheitsunternehmen müssen sich an das Gesetz halten und bei der Erbringung ihrer Dienstleistungen im Einklang mit relevanten Gesetzen handeln.</dd>
            </dl>
        </div>
    </section>
</div>
