@{
    ViewData["Title"] = "DIENSTLEISTUNGEN";
}

<div class="section-title-page parallax-bg parallax-light">
    <ul class="bg-slideshow">
        <li>
            <div style="background-image:url(~/website/media/content/title-page/1.jpg)" class="bg-slide"></div>
        </li>
    </ul>
    <div class="parallax__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="b-title-page">WAS WIR TUN</h1>
                    <div class="b-title-page__info">Der zugelassene Auftragnehmer von Sicherheitsdiensten. bereitstellung hochwertiger Sicherheitsdienste für viele Organisationen & Privatunternehmen</div>
                    <!-- end b-title-page-->
                </div>
                <div class="col-sm-5">
                    <ol class="breadcrumb">
                        <li><a href="index">STARTSEITE </a></li>
                        <li class="active"> UNSERE DIENSTLEISTUNGEN</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service -->
<div class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class=" row">
                    <div class=" col-xs-12 col-sm-4 pb">
                            <img style="width:100px;" src="~/website/media/content/services-icon/key.png" />
                            <h5>SCHLIESSDIENST</h5>
                            <p>
                                Bürogebäude, Einkaufszentren
                                und Lagerhallen haben viele
                                Türen. Jedem
                                Zutrittsberechtigten einen
                                Schlüssel zu geben, birgt auf
                                Grund der hohen Anzahl an
                                Schlüsseln eine erhöhte
                                Verlustgefahr.
                            </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 pb">
                        
                            <img style="width:100px;" src="~/website/media/content/services-icon/phone-book.png" />
                            <h5>EINLASSKONTROLLEN</h5>
                            <p>
                                Eine Gastronomie-, und
                                Diskotheken Absicherung ist Ihr
                                Aushängeschild. Weil der erste
                                Eindruck zählt! Wir führen u.a.
                                Einlasskontrollen für Sie durch.
                            </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 pb">
                        
                            <img style="width:100px;" src="~/website/media/content/services-icon/apartment.png" />
                            <h5>OBJEKTSCHUTZ</h5>
                            <p>
                                Für die Sicherheit Ihrer Obiekte
                                entwickeln wir von Gabel
                                Security ein individuelles
                                Sicherheitskonzept ganz nach
                                Ihren Vorstellungen.
                            </div>
                    </div>
                <div class="col-xs-12 col-sm-4 pb">
                        
                            <img style="width:100px;" src="~/website/media/content/services-icon/cone.png" />
                            <h5>
                                BAUSTELLEN-BEWACHUNG
                            </h5>
                            <p>
                                Auf eine Baustellenbewachung
                                wird grundsätzlich nicht
                                verzichtet. Schäden durch
                                Vandalismus und Diebstahl sind
                                gute Gründe für eine
                                Baustellenbewachung.
                            </p>
                    </div>
                <div class="col-xs-12 col-sm-4 pb">
                            <img style="width:100px;" src="~/website/media/content/services-icon/multiple-users.png" />
                            <h5>
                                ABSICHERUNG VON EVENTS
                            </h5>
                            <p>
                                In der Eventabsicherung
                                unterstützen wir Sie
                                professionell in allen Phasen der
                                Veranstaltung. Vom Anfang bis
                                zum Ende sind wir dabei.
                            </p>
                    </div>
                <div class="col-xs-12 col-sm-4 pb">
                        
                            <img style="width:100px;" src="~/website/media/content/services-icon/bullseye.png" />
                            <h5>REVIERFAHRTEN</h5>
                            <p>
                                Gegen Vandalismus und
                                Einbruch auf Ihrem Grundstück
                                helfen unsere Fachkräfte aus
                                Schutz und Sicherheit, die sich
                                auf Revierdienste spezialisiert
                                haben.
                            </p>
                    </div>
                </div>
                    <!-- end b-advantages-3-->

                </div>
            </div>
        </div>

    <!-- Questions -->
    <div class="section-default section-default_top-padd wow">
        <div class="section__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center">
                            <h2 class="ui-title-block">Ihre Fragen werden beantwortet</h2>
                            <div class="ui-decor-type-1 ui-decor-type-1_marg-bott_a center-block"></div>
                            <div class="ui-subtitle-block">Es ist ein professionelles Unternehmen, das sich auf die Gewährleistung der physischen Sicherheit der Kunden und den Schutz ihres Eigentums spezialisiert hat.</div>
                        </div>
                    </div>
                    <div class="col-sm-6"><img src="~/website/media/general/wesecure.png" alt="Logo" class="img-responsive w-75"></div>
                    <div class="col-sm-6">
                        <div id="accordion-1" class="panel-group accordion accordion_marg-top_a">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1" class="btn-collapse"><i class="icon"></i></a>
                                    <h3 class="panel-title">Was ist ein Sicherheitsunternehmen?</h3>
                                </div>
                                <div id="collapse-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Sicherheitsunternehmen sind Unternehmen, die professionelle Dienstleistungen anbieten, um das Eigentum und die Sicherheit ihrer Kunden zu schützen.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2" class="btn-collapse collapsed"><i class="icon"></i></a>
                                    <h3 class="panel-title">In welchen Bereichen bieten sie ihre Dienstleistungen an?</h3>
                                </div>
                                <div id="collapse-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Sicherheitsunternehmen bieten ihre Dienstleistungen in Wohnhäusern, Büros, Ferienanlagen, privaten Veranstaltungen und vielen anderen Bereichen an.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3" class="btn-collapse collapsed"><i class="icon"></i></a>
                                    <h3 class="panel-title">Warum braucht man ein Sicherheitsunternehmen?</h3>
                                </div>
                                <div id="collapse-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Man braucht ein Sicherheitsunternehmen, weil diese Unternehmen einen professionellen Ansatz bieten, um das Eigentum und die Sicherheit der Kunden zu schützen.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-4" class="btn-collapse collapsed"><i class="icon"></i></a>
                                    <h3 class="panel-title">Worauf sollte man bei der Auswahl eines Sicherheitsunternehmens achten?</h3>
                                </div>
                                <div id="collapse-4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Bei der Auswahl eines Sicherheitsunternehmens sollte man auf Faktoren wie die Lizenzierung und Erfahrung des Unternehmens, Referenzen, hohe Kundenzufriedenheitsraten und die Eignung der Dienstleistungen für die Bedürfnisse des Kunden achten.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end panel-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="section-area section-table clearfix">
        <section class="b-form-request section-table__inner">
            <div style="background-image: url(~/website/media/components/b-form-request/bg-1.jpg)" data-jarallax="{&quot;type&quot;: &quot;scroll-opacity&quot;}" class="b-form-request__parallax section-bg section-bg_primary jarallax"></div>
            <div class="section__inner">
                <div class="b-form-request__inner">
                    <h2 class="b-form-request__title">Angebot anfordern<span class="b-form-request__title-emphasis"> - Sicherheitsagentur Sicherheitsdienste</span></h2>
                    <div class="b-form-request__text">
                        <p>Wenn Sie ein Preisangebot für Sicherheitsdienstleistungen erhalten möchten, füllen Sie bitte das untenstehende Formular aus.</p>
                        <p>Wir antworten innerhalb von 2 Stunden oder rufen Sie uns an unter <strong> <a class="text-white" href="tel:02125465454"> 02125465454</a></strong></p>
                    </div>
                </div>
                <div class="b-form-request__form p-105-60">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" id="name" placeholder="Name" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="surname" placeholder="Familienname" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="email" id="email" placeholder="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" id="title" placeholder="Inhalt" class="form-control" />
                            <textarea rows="4" id="context" placeholder="Beschreibung" class="form-control"></textarea>
                            <button onclick="addContact()" class="btn btn-default btn-sm btn-effect">Abgeben</button>
                        </div>
                    </div><i class="b-form-request__icon pe-7s-note2"></i>
                </div>
            </div>
        </section>
        <!-- end b-form-request-->
        <section style="background-image: url(~/website/media/components/b-type-d/bg-1.jpg)" data-jarallax="{&quot;type&quot;: &quot;scroll-opacity&quot;}" class="b-type-d section-bg jarallax section-table__inner">
            <div class="section__inner">
            <img src="~/website/media/general/wesecure.png" alt="Name" class="img-responsive w-25" />
                <h2 class="b-type-d__title ui-title-inner-1">Wenn Sie mehr Informationen über unser Unternehmen oder unsere Dienstleistungen erhalten möchten, kontaktieren Sie uns bitte!</h2>
                <dl class="b-type-d__list-desription list-desription">
                    <dt><i class="icon pe-7s-helm"></i>Lizenzen und Genehmigungen</dt>
                    <dd>Sicherheitsunternehmen müssen gesetzlich lizenziert und reguliert sein, um ihre Dienste anbieten zu können.</dd>
                    <dt><i class="icon pe-7s-diamond"></i>Versicherung</dt>
                    <dd>Das Sicherheitsunternehmen muss für die Sicherheit seiner Kunden und Mitarbeiter versichert sein.</dd>
                    <dt><i class="icon pe-7s-share"></i>Legal Compliance</dt>
                    <dd>Sicherheitsunternehmen müssen sich an das Gesetz halten und bei der Erbringung ihrer Dienstleistungen im Einklang mit relevanten Gesetzen handeln.</dd>
                </dl>
            </div>
        </section>
        <!-- end b-type-d-->
    </div>